.card {
    width: 390px;
    height: 438px;
    border: 1px solid #E5E8ED;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
    box-shadow:
        0px 4px 4px -4px #1E212C08,
        0px 12px 10px -6px #9A9CA50A,
        0px 30px 24px -10px #9A9CA50D,
        0px 80px 80px -20px #9A9CA514;
    cursor: pointer;
    transition: 0.2s all ease-out;

    &:hover {
        transform: scale(103%);

    }

    @media (max-width: 850px) {
        width: 320px;
    }



    &__image {
        width: 100%;
        display: block;
    }

    &__info {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__area {
        padding: 1px 8px;
        width: fit-content;
        color: white;
        font-size: 14px;
        line-height: 150%;
        border-radius: 4px;
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        gap: 6px;
        color: #787A80;
        font-size: 18px;
    }

    &__price {
        color: #FF4242;
        font-weight: 700;
    }
}