* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
}

#app {
    padding: 50px 20px;
}

.width-container {
    max-width: 1230px;
    margin: 0 auto;
}

.search-panel {
    display: flex;
    justify-content: space-between;

    @media (max-width: 850px) {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
}

.cards-list {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__nothing {
        font-size: 18px;
    }

    &__more-btn {
        width: 116px;
        padding-left: 37px;
        font-size: 16px;
        font-weight: 700;
        border: 0;
        background-color: white;
        background-image: url('/src/assets/img/refresh.svg');
        line-height: 160%;
        background-position: left;
        background-repeat: no-repeat;
        margin-top: 80px;
        margin-bottom: 36px;
        cursor: pointer;

        &:hover {
            transform: scale(103%);
            transition: 0.2s all ease-out;
        }

    }
}